<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>

	<title> Patricia Honorato Moreira | Undergraduate in Computer Engineering | patricia.moreira@sou.inteli.edu.br</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<meta name="keywords" content="" />
	<meta name="description" content="" />

	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" media="all" /> 
    <link rel="stylesheet" type="text/css" href="../static/style.css" media="all" />

</head>
<body>

<div id="doc2" class="yui-t7">
	<div id="inner">
	
		<div id="hd">
			<div class="yui-gc">
				<div class="yui-u first">
					<h1>Patricia Honorato</h1>
					<h2>Undergraduate in Computer Engineering</h2>
				</div>

				<div class="yui-u">
					<div class="contact-info">
						<h3><a id="pdf" href="../static/resume_patricia_honorato.pdf">Download PDF</a></h3>
						<h3><a href="mailto:name@yourdomain.com">patricia.moreira@sou.inteli.edu.br</a></h3>
                        <h3><a href="https://www.linkedin.com/in/patriciahonorato" target="_blank">www.linkedin.com/in/patriciahonorato</a></h3>
					</div><!--// .contact-info -->
				</div>
			</div><!--// .yui-gc -->
		</div><!--// hd -->

		<div id="bd">
			<div id="yui-main">
				<div class="yui-b">
                    
					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Education</h2>
						</div>
						<div class="yui-u">
							<h2> Inteli - Institute of Technology and Leadership </h2>
							<h3>Bachelor in Computer Engineering <i>(Expected December 2025)</i></h3>
                            <p>Approved in 1st place with full scholarship (score 96/100 in the entrance exam), Sallouti Scholar (1 out of 10 scholarship holders)</p>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Skills and tools</h2>
						</div>
						<div class="yui-u">

								<div class="talent">
									<h2>Programming Languages</h2>
									<p>C++, HTML5, CSS, Python, JavaScript, GodotScript</p>
								</div>

								<div class="talent">
									<h2>Machine learning skills</h2>
									<p>Decision tree, Random Forest, KNN, Linear Regression, LightGBM</p>
								</div>

								<div class="talent">
									<h2>Databases</h2>
									<p>MySQL, AWS Athena</p>
								</div>
                                <div class="talent">
									<h2>Frameworks</h2>
									<p>Bootstrap, Node.js, Sanic, Flask, ROS 2 </p>
								</div>
                                <div class="talent">
									<h2>Hardware skills</h2>
									<p>ESP32-S3, Raspberry Pi Pico W, Dobot Magician, TurtleBot 3 Burger</p>
								</div>
                                <div class="talent">
									<h2>Tools</h2>
									<p>Git, WSL(Ubuntu), Postman, Google Colab, Arduino IDE, ThingSpeak, Gazebo, Graphic Design skills (Adobe programs)</p>
								</div>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">
	
						<div class="yui-u first">
							<h2>Computer Engineering Projects</h2>
						</div><!--// .yui-u -->

						<div class="yui-u">

							<div class="job">
								<h2>Game: Back 2 Life - The Second Chance</h2>
								<h3>Game Development Module, Inteli</h3>
								<h4>February 2022 - April 2022</h4>
								<p>A GDScript-based game promoting cancer prevention and treatment, developed for USP Faculty of Medicine. <a href="https://github.com/2022M1T5-Inteli/Back-2-Life-The-Second" target="_blank">GitHub</a></p>
							</div>

							<div class="job">
								<h2>TV Audience Predictive Model</h2>
								<h3>Artificial Intelligence Module, Inteli</h3>
								<h4>August 2022 - October 2022</h4>
								<p>Created a ML model using Python on Google Colab for predicting TV audience trends based on 10 years' data.  <a href="https://github.com/2022M3T5-Inteli/Data-Oracles" target="_blank">GitHub</a></p>
							</div>

							<div class="job">
								<h2>Greenhouse Climate Control IoT System for Gerdau</h2>
								<h3> IOT Development Module, Inteli</h3>
								<h4>October 2022 - December 2022</h4>
								<p>An IoT mechanism for controlling greenhouse temperature and humidity, developed in C++ using ESP32-S3 board. <a href="https://github.com/2022M4T5-Inteli/Arvorino" target="_blank">GitHub</a></p>
							</div>


							<div class="job last">
								<h2>Magnetic Material Separation Mechanism for IPT</h2>
								<h3>Industrial Automation Module, Inteli </h3>
								<h4> February 2023 - April 2023</h4>
								<p>Created using Python, Raspberry Pi Pico W, and Dobot Magician for industrial magnetic material separation. <a href="https://github.com/2023M5T2-Inteli/Chat-IPT" target="_blank">GitHub</a> </p>
							</div>

						</div><!--// .yui-u -->
					</div><!--// .yui-gf -->
					<div class="yui-gf">
	
						<div class="yui-u first">
							<h2>Experience</h2>
						</div><!--// .yui-u -->

						<div class="yui-u">

                            <div class="job">
                                <h2>Brazilian Fair of Young Scientists (Non-Profit)</h2>
                                <h3>Co-Founder & Director of Publicity and Technology</h3>
                                <h4>February 2020 – present</h4>
                                <p>• Led social media management, graphic design, audiovisual content creation, live broadcasting, and press/school communication.<br>
                                • Secured over $40,000 in sponsorships across three editions, yielding 1.5M+ unique website views, 49K YouTube views, and benefiting 2,000+ students across 25 Brazilian states.<br>
                                • Hosted 500+ projects in recent events.<br>
                                • Mobilized 800+ volunteers and 30 supporting organizations, including the US Embassy and the National Academy of Engineering.</p>
                            </div>                                                   
                            
                            <div class="job">
                                <h2>BTG Pactual</h2>
                                <h3>Winter Intern Product Management</h3>
                                <h4>July 2022</h4>
                                <p>Worked on a gamification study for the Invight app, leading to the development of a new feature informed by this study and integrated through roadmap processes.</p>
                            </div>
                            
                            <div class="job last">
                                <h2>BTG Pactual</h2>
                                <h3>Summer Intern Data Management</h3>
                                <h4>January 2023</h4>
                                <p>Implemented an XGBoost-based predictive model to automate investment fund transaction classifications, a task previously conducted manually. The model is projected to streamline over 500,000 daily transactions.</p>
                            </div>
                            
						</div><!--// .yui-u -->
					</div><!--// .yui-gf -->

                    <div class="yui-gf">
	
						<div class="yui-u first">
							<h2>Research Experience</h2>
						</div><!--// .yui-u -->

						<div class="yui-u">

                            <div class="job">
                                <h2>Cancer Institute of the State of São Paulo - ICESP</h2>
                                <h3>Undergraduate Research</h3>
                                <h4>February 2023 – present</h4>
                                <p>Developing a predictive model for aiding in the prognosis of breast cancer patients based on immune system cell detection from blood tests. Utilizing a dataset of over 7,000 patients tracked for a decade.</p>
                            </div>
                            <div class="job last">
                                <h2>Weizmann Institute of Science</h2>
                                <h3>Intern and Scholarship Holder, Bioinformatics Research, Department of Planetary and Earth Sciences</h3>
                                <h4>July 2019</h4>
                                <p>Utilized Python to analyze three years of Yatir Forest data, shedding light on plant adaptability in water-deficient conditions.</p>
                            </div>                 
                 
						</div><!--// .yui-u -->
					</div><!--// .yui-gf -->

					<div class="yui-gf">
	
						<div class="yui-u first">
							<h2>Awards and Honors</h2>
						</div><!--// .yui-u -->

						<div class="yui-u">
                            <div class="job last">
                                <p>• 3rd Place in Environmental Sciences, International Conference of Young Scientists (Top 40%/138 of projects). April 2019</p>
                                <p>• 3rd Place in Environmental Sciences, International Conference of Young Scientists (Top 40%/138 of projects). April 2019</p>
                                <p>• ISEF Finalist in Environmental Engineering with Bolmoringa project. May 2019</p>
                                <p>• Research Presentation Award, FIRST LEGO League, NASA - Katherine Johnson IV&amp;V Facility (Top 20%). July 2017</p>
                                <p>• Speaker as Global Youth, Village to Raise a Child program, Harvard University (Top 1%/400 projects). October 2018</p>
                            </div>
                                                   
                            
						</div><!--// .yui-u -->
					</div><!--// .yui-gf -->

				</div><!--// .yui-b -->
			</div><!--// yui-main -->
		</div><!--// bd -->

		<div id="ft">
			<p>Patricia Honorato; <a href="mailto:name@yourdomain.com">patricia.moreira@sou.inteli.edu.br</a> <a href="https://www.linkedin.com/in/patriciahonorato" target="_blank">www.linkedin.com/in/patriciahonorato</a></p>
		</div><!--// footer -->

	</div><!-- // inner -->


</div><!--// doc -->


</body>
</html>


